



    

    

    @media screen and (max-width: 879px) {

        .dos {
            height: 320px;
        }

        .boxtres__boton {
            padding-top: none;
        }

        .boxtres__p {
            font-size: 17px;
            padding-bottom: 20px;
        }

        .boxtres__info {
            width: 50%;
        }


    }

    @media screen and (max-width: 575px) {

        .img {
            text-align: center;
        }

        .menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 10px;
            padding-left: 0;
        }

        .box__img img {
            width: 100%;

        }

        .box__info {
            width: 80%;
            align-items: center;
        }

        .box__h1 {
            text-align: center;
        }

        .box__p {
            text-align: center;
        }

        .boxdos {
            height: 450px;
        }


        .cel {
            text-align: center;
            margin-top: 20px;
        }

        .boxtres {
            padding-top: 5px;
        }

        .boxtres__info {
            display: flex;
            width: 85%;
            text-align: center;
            flex-direction: column;

        }

        .boxtres__boton {

            margin-left: 30%;
            margin-right: 30%;

        }

        .boxcuarto {
            height: 350px;
            margin-top: 400px;
        }

        .footer {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .footer__info {
            width: 40%;
            text-align: center;
        }

        .footer__contacto {
            text-align: center;
        }

        .footer__rs {
            text-align: center;
        }

    }

    @media screen and (max-width: 480px) {

        .boxdos {
            height: 450px;
        }

        .boxtres {
            padding-top: 10px;
        }

        .boxcuarto {
            height: 450px;
            margin-top: 480px;
        }

        .footer {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .footer__info {
            width: 40%;
            text-align: center;
        }

        .footer__contacto {
            text-align: center;
        }

        .footer__rs {
            text-align: center;
        }

    } 

    /*--------------------------------------------- SECCIÓN PROMOS-----------------------------------------*/




    @media screen and (max-width: 879px) {

        .promosbox {

            justify-content: center;
        }

        .promosbox__img img {
            width: 100%;

        }

        .promosbox__info {
            width: 80%;

        }



        .promosboxdos__img img {
            width: 100%;
        }


    }

    @media screen and (max-width: 575px) {
        .img {
            text-align: center;
        }

        .menu {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 10px;
            padding-left: 0;
        }

        .promosbox__img img {
            width: 100%;

        }

        .footer {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .footer__info {
            width: 40%;
            text-align: center;
        }

        .footer__contacto {
            text-align: center;
        }

        .footer__rs {
            text-align: center;
        }

    }

    @media screen and (max-width: 480px) {

        .footer {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .footer__info {
            width: 40%;
            text-align: center;
        }

        .footer__contacto {
            text-align: center;
        }

        .footer__rs {
            text-align: center;
        }


    }  