@charset "UTF-8";
/*Colores primarios*/
/* Colores neutral */
/*font-family*/
/*font-size*/
/* margenes del sitio */
/* media queries */
@import url(https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Raleway", sans-serif; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

/* header */
/* slider index */
/* servicios index */
/* card tiquetes */
.header__img--img {
  width: 100%;
  height: 704px;
  object-fit: cover; }

.header__logo {
  z-index: 1;
  margin-top: -650px;
  display: flex;
  justify-content: center; }

.header__nav--lista {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 23px; }
  @media screen and (max-width: 720px) {
    .header__nav--lista {
      display: flex;
      flex-direction: column;
      align-items: center; } }

.header__nav--item {
  padding: 15px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 2em;
  text-transform: uppercase; }
  @media screen and (max-width: 720px) {
    .header__nav--item {
      padding: 3px;
      font-size: 1.6em; } }
  .header__nav--item .inicio {
    position: relative;
    color: #FFFFFF;
    text-decoration: none; }
  .header__nav--item .inicio:hover,
  .header__nav--item .inicio:focus {
    color: #FFFFFF;
    outline-color: #CE8F5A; }
  .header__nav--item .inicio:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #CE8F5A;
    visibility: hidden;
    transform: scaleX(0);
    transition: 0.3s; }
  .header__nav--item .inicio:hover:before,
  .header__nav--item .inicio:focus:before {
    visibility: visible;
    transform: scaleX(1); }
  .header__nav--item .tuto {
    position: relative;
    color: #FFFFFF;
    text-decoration: none; }
  .header__nav--item .tuto:hover,
  .header__nav--item .tuto:focus {
    color: #FFFFFF;
    outline: none; }
  .header__nav--item .tuto:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #EFD199;
    visibility: hidden;
    transform: scaleX(0);
    transition: 0.3s; }
  .header__nav--item .tuto:hover:before,
  .header__nav--item .tuto:focus:before {
    visibility: visible;
    transform: scaleX(1); }
  .header__nav--item .tique {
    position: relative;
    color: #FFFFFF;
    text-decoration: none; }
  .header__nav--item .tique:hover,
  .header__nav--item .tique:focus {
    color: #FFFFFF;
    outline: none; }
  .header__nav--item .tique:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #80C8BC;
    visibility: hidden;
    transform: scaleX(0);
    transition: 0.3s; }
  .header__nav--item .tique:hover:before,
  .header__nav--item .tique:focus:before {
    visibility: visible;
    transform: scaleX(1); }
  .header__nav--item .promo {
    position: relative;
    color: #FFFFFF;
    text-decoration: none; }
  .header__nav--item .promo:hover,
  .header__nav--item .promo:focus {
    color: #FFFFFF;
    outline: none; }
  .header__nav--item .promo:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #5EC0CA;
    visibility: hidden;
    transform: scaleX(0);
    transition: 0.3s; }
  .header__nav--item .promo:hover:before,
  .header__nav--item .promo:focus:before {
    visibility: visible;
    transform: scaleX(1); }
  .header__nav--item .contact {
    position: relative;
    color: #FFFFFF;
    text-decoration: none; }
  .header__nav--item .contact:hover,
  .header__nav--item .contact:focus {
    color: #FFFFFF;
    outline: none; }
  .header__nav--item .contact:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #6287A2;
    visibility: hidden;
    transform: scaleX(0);
    transition: 0.3s; }
  .header__nav--item .contact:hover:before,
  .header__nav--item .contact:focus:before {
    visibility: visible;
    transform: scaleX(1); }

.textppal {
  position: relative;
  z-index: 2;
  top: 50px;
  text-align: center; }

.footer {
  display: flex;
  flex-direction: column;
  margin-top: 8.4em;
  background-color: #1D1D1D; }
  .footer__box {
    height: 351px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF; }
    @media screen and (max-width: 720px) {
      .footer__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 850px; } }
    .footer__box--fbox1 {
      width: 20%;
      text-align: center; }
      @media screen and (max-width: 720px) {
        .footer__box--fbox1 {
          width: 80%; } }
      @media screen and (max-width: 540px) {
        .footer__box--fbox1 {
          margin-top: 25px; } }
      @media screen and (max-width: 1140px) {
        .footer__box--fbox1 picture img {
          width: 234px;
          height: 95px; } }
      @media screen and (max-width: 960px) {
        .footer__box--fbox1 picture img {
          width: 214px;
          height: 75px; } }
      @media screen and (max-width: 720px) {
        .footer__box--fbox1 picture img {
          width: 264px;
          height: 125px; } }
      .footer__box--fbox1 p {
        padding: 10px;
        font-size: 1.1em; }
    .footer__box--fbox2 h3 {
      font-family: "Yanone Kaffeesatz", sans-serif;
      font-size: 2em; }
      @media screen and (max-width: 720px) {
        .footer__box--fbox2 h3 {
          text-align: center; } }
    .footer__box--fbox2 ul {
      padding-left: 0px;
      padding-top: 17px; }
      @media screen and (max-width: 720px) {
        .footer__box--fbox2 ul {
          text-align: center;
          padding-top: 0px; } }
      .footer__box--fbox2 ul li {
        list-style-type: none; }
        .footer__box--fbox2 ul li a {
          color: #FFFFFF;
          font-size: 1.1em; }
          .footer__box--fbox2 ul li a:hover {
            color: #80C8BC;
            text-decoration: underline; }
    .footer__box--fbox3 h3 {
      font-family: "Yanone Kaffeesatz", sans-serif;
      font-size: 2em; }
      @media screen and (max-width: 720px) {
        .footer__box--fbox3 h3 {
          text-align: center; } }
    .footer__box--fbox3 ul {
      padding-left: 0px;
      padding-top: 17px; }
      @media screen and (max-width: 720px) {
        .footer__box--fbox3 ul {
          text-align: center;
          padding-top: 0px; } }
      .footer__box--fbox3 ul li {
        list-style-type: none;
        padding: 1px; }
        .footer__box--fbox3 ul li a {
          color: #FFFFFF;
          font-size: 1.1em; }
    .footer__box--fbox4 h3 {
      font-family: "Yanone Kaffeesatz", sans-serif;
      font-size: 2em;
      margin-top: -55px;
      padding-bottom: 20px; }
      @media screen and (max-width: 720px) {
        .footer__box--fbox4 h3 {
          text-align: center;
          margin-top: 10px; } }
    .footer__box--fbox4 picture {
      padding-right: 10px; }
      @media screen and (max-width: 720px) {
        .footer__box--fbox4 picture {
          padding-right: 0px;
          padding: 5px; } }
  .footer__copy {
    height: 80px;
    background-color: #CE8F5A;
    text-align: center; }
    .footer__copy--h4 {
      padding-top: 27px;
      color: #FFFFFF;
      font-family: "Yanone Kaffeesatz", sans-serif;
      font-size: 1.5em; }

.textppal__texti {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center; }
  .textppal__texti--h1 {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 5em;
    color: #CE8F5A; }
    @media screen and (max-width: 720px) {
      .textppal__texti--h1 {
        font-size: 3.6em;
        margin-top: -30px; } }
    @media screen and (max-width: 540px) {
      .textppal__texti--h1 {
        margin-top: -45px; } }
  .textppal__texti--p {
    font-size: 1.1em;
    color: #FFFFFF;
    width: 800px; }
    @media screen and (max-width: 720px) {
      .textppal__texti--p {
        width: 650px;
        font-size: 1em; } }
    @media screen and (max-width: 540px) {
      .textppal__texti--p {
        width: 450px; } }

.btn {
  border-radius: 0px;
  color: #CE8F5A;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 1.5em;
  border: 1px solid #CE8F5A;
  margin-top: 15px; }

.btn:hover {
  background-color: #CE8F5A;
  color: #FFFFFF;
  border: solid #CE8F5A; }

.galeria__box {
  display: flex;
  justify-content: center;
  margin-top: 172px; }
  @media screen and (max-width: 720px) {
    .galeria__box {
      display: none; } }
  @media screen and (max-width: 960px) {
    .galeria__box--img1 {
      display: none; } }

/* por qué visitar colombia */
.visit {
  margin-top: 8.4em; }
  @media screen and (max-width: 720px) {
    .visit {
      margin-top: 13em; } }
  .visit__article {
    display: flex;
    justify-content: center; }
  .visit__box {
    width: 80%;
    height: 600px; }
    .visit__box--h2 {
      margin-bottom: 50px;
      text-align: center;
      font-family: "Yanone Kaffeesatz", sans-serif;
      font-size: 3.6em; }
      @media screen and (max-width: 720px) {
        .visit__box--h2 {
          font-size: 2.6em; } }
    @media screen and (max-width: 1140px) {
      .visit__box {
        width: 90%;
        height: 310px; } }
    @media screen and (max-width: 960px) {
      .visit__box {
        height: 400px; } }
    @media screen and (max-width: 720px) {
      .visit__box {
        height: 530px; } }
  .visit__box1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 20px; }
    @media screen and (max-width: 720px) {
      .visit__box1 {
        display: flex;
        flex-direction: column;
        align-items: center; } }
    @media screen and (max-width: 1140px) {
      .visit__box1--img {
        height: 450px; } }
    @media screen and (max-width: 960px) {
      .visit__box1--img {
        width: 47.5%;
        height: 535px;
        object-fit: cover; } }
    @media screen and (max-width: 720px) {
      .visit__box1--img {
        width: 90%;
        height: 400px;
        object-fit: cover; } }
  .visit__text--h3 {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 2.6em;
    color: #CE8F5A; }
    @media screen and (max-width: 720px) {
      .visit__text--h3 {
        text-align: center;
        font-size: 2em; } }
  .visit__text--p {
    font-family: "Raleway", sans-serif;
    font-size: 1.1em;
    margin-top: 20px; }
    @media screen and (max-width: 720px) {
      .visit__text--p {
        text-align: center;
        font-size: 1em; } }

/* servios */
.servicios {
  margin-top: 11em; }
  @media screen and (max-width: 1244px) {
    .servicios {
      margin-top: 20em; } }
  @media screen and (max-width: 1140px) {
    .servicios {
      margin-top: 25em; } }
  .servicios__article {
    display: flex;
    justify-content: center; }
  .servicios__caja {
    display: flex;
    justify-content: center;
    width: 80%; }
    @media screen and (max-width: 1140px) {
      .servicios__caja {
        width: 90%; } }
    @media screen and (max-width: 960px) {
      .servicios__caja {
        display: flex;
        justify-content: center;
        width: 95%; } }
    @media screen and (max-width: 720px) {
      .servicios__caja {
        display: flex;
        flex-direction: column;
        align-items: center; } }
    .servicios__caja--box1 {
      width: 26.6%;
      background-color: #EFD199;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 30px; }
      @media screen and (max-width: 960px) {
        .servicios__caja--box1 {
          width: 31.6%; } }
      @media screen and (max-width: 720px) {
        .servicios__caja--box1 {
          width: 80%; } }
      .servicios__caja--box1 h2 {
        font-family: "Yanone Kaffeesatz", sans-serif;
        font-size: 3.6em; }
        @media screen and (max-width: 720px) {
          .servicios__caja--box1 h2 {
            font-size: 2.6em; } }
      .servicios__caja--box1 p {
        font-size: 1.1em; }
    .servicios__caja--box2 {
      width: 26.6%;
      background-color: #80C8BC;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 30px; }
      @media screen and (max-width: 960px) {
        .servicios__caja--box2 {
          width: 31.6%; } }
      @media screen and (max-width: 720px) {
        .servicios__caja--box2 {
          width: 80%; } }
      .servicios__caja--box2 h2 {
        font-family: "Yanone Kaffeesatz", sans-serif;
        font-size: 3.6em; }
        @media screen and (max-width: 720px) {
          .servicios__caja--box2 h2 {
            font-size: 2.6em; } }
      .servicios__caja--box2 p {
        font-size: 1.1em; }
    .servicios__caja--box3 {
      width: 26.6%;
      background-color: #5EC0CA;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 30px; }
      @media screen and (max-width: 960px) {
        .servicios__caja--box3 {
          width: 31.6%; } }
      @media screen and (max-width: 720px) {
        .servicios__caja--box3 {
          width: 80%; } }
      .servicios__caja--box3 h2 {
        font-family: "Yanone Kaffeesatz", sans-serif;
        font-size: 3.6em; }
        @media screen and (max-width: 720px) {
          .servicios__caja--box3 h2 {
            font-size: 2.6em; } }
      .servicios__caja--box3 p {
        font-size: 1.1em; }

/* header */
.textppal__textt {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center; }
  .textppal__textt--h1 {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 5em;
    color: #EFD199; }
    @media screen and (max-width: 720px) {
      .textppal__textt--h1 {
        font-size: 3.6em;
        margin-top: -30px; } }
    @media screen and (max-width: 540px) {
      .textppal__textt--h1 {
        margin-top: -45px; } }
  .textppal__textt--p {
    font-size: 1.1em;
    color: #FFFFFF;
    width: 800px; }
    @media screen and (max-width: 720px) {
      .textppal__textt--p {
        width: 650px;
        font-size: 1em; } }
    @media screen and (max-width: 540px) {
      .textppal__textt--p {
        width: 450px; } }

/* seccion sobrepuesta */
.boxppal__caja {
  display: flex;
  justify-content: center;
  z-index: 2;
  margin-top: 120px;
  margin-left: 10.6em;
  margin-right: 10.6em; }
  @media screen and (max-width: 1000px) {
    .boxppal__caja {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  @media screen and (max-width: 960px) {
    .boxppal__caja {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  @media screen and (max-width: 720px) {
    .boxppal__caja {
      margin-top: 70px;
      margin-left: 8%;
      margin-right: 8%; } }
  @media screen and (max-width: 540px) {
    .boxppal__caja {
      margin-top: 100px; } }

.boxppal__text {
  background-color: #EFD199; }
  .boxppal__text--p {
    padding: 10%;
    padding-top: 50px;
    font-size: 1.1em; }
    @media screen and (max-width: 1244px) {
      .boxppal__text--p {
        padding: 8%; } }
    @media screen and (max-width: 1140px) {
      .boxppal__text--p {
        padding: 5%; } }

@media screen and (max-width: 1320px) {
  .boxppal__img--img {
    width: 500px;
    height: 530px;
    object-fit: cover; } }

@media screen and (min-width: 1244px) {
  .boxppal__img--img {
    width: 420px;
    height: 555px;
    object-fit: cover; } }

@media screen and (min-width: 1140px) {
  .boxppal__img--img {
    width: 350px;
    height: 498.8px;
    object-fit: cover; } }

@media screen and (max-width: 1000px) {
  .boxppal__img--img {
    width: 660.8px;
    height: 500px;
    object-fit: cover; } }

@media screen and (max-width: 960px) {
  .boxppal__img--img {
    width: 620px;
    height: 300px;
    object-fit: cover; } }

@media screen and (max-width: 720px) {
  .boxppal__img--img {
    width: 604.8px;
    height: 300px;
    object-fit: cover; } }

@media screen and (max-width: 540px) {
  .boxppal__img--img {
    width: 453.6px;
    height: 300px;
    object-fit: cover; } }

/* como encontrar hoteles baratos */
.hotelesb {
  margin-top: 8.4em; }
  .hotelesb__caja {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .hotelesb__caja--h2 {
      font-family: "Yanone Kaffeesatz", sans-serif;
      font-size: 3.6em;
      margin-bottom: 20px;
      text-align: center; }
      @media screen and (max-width: 720px) {
        .hotelesb__caja--h2 {
          font-size: 2.6em; } }
    .hotelesb__caja--p {
      width: 80%;
      text-align: center;
      font-family: "Raleway", sans-serif;
      font-size: 1.1em; }
      @media screen and (max-width: 720px) {
        .hotelesb__caja--p {
          font-size: 1em; } }
  .hotelesb__img--img {
    width: 100%;
    margin-top: 20px; }
  .hotelesb__item1 {
    display: flex;
    justify-content: center;
    margin-top: 40px; }
    .hotelesb__item1--b1 {
      font-family: "Yanone Kaffeesatz", sans-serif;
      font-size: 1.8em;
      text-align: center;
      width: 80%;
      height: 70px;
      background-color: #F4F4F4;
      padding: 15px; }
      @media screen and (max-width: 960px) {
        .hotelesb__item1--b1 {
          font-size: 1.5em;
          height: 60px; } }
      @media screen and (max-width: 720px) {
        .hotelesb__item1--b1 {
          height: 80px; } }
  .hotelesb__item2 {
    display: flex;
    justify-content: center; }
    .hotelesb__item2--b2 {
      font-family: "Yanone Kaffeesatz", sans-serif;
      font-size: 1.8em;
      text-align: center;
      width: 80%;
      height: 70px;
      background-color: #FFFFFF;
      padding: 15px; }
      @media screen and (max-width: 960px) {
        .hotelesb__item2--b2 {
          font-size: 1.5em;
          height: 60px;
          padding: 6px; } }
      @media screen and (max-width: 540px) {
        .hotelesb__item2--b2 {
          height: 70px; } }
  .hotelesb__item3 {
    display: flex;
    justify-content: center; }
    .hotelesb__item3--b3 {
      font-family: "Yanone Kaffeesatz", sans-serif;
      font-size: 1.8em;
      text-align: center;
      width: 80%;
      height: 100px;
      background-color: #F4F4F4;
      padding: 15px; }
      @media screen and (max-width: 960px) {
        .hotelesb__item3--b3 {
          font-size: 1.5em;
          height: 80px;
          padding: 10px; } }
      @media screen and (max-width: 720px) {
        .hotelesb__item3--b3 {
          height: 120px;
          padding: 15px; } }
      @media screen and (max-width: 540px) {
        .hotelesb__item3--b3 {
          height: 140px; } }
  .hotelesb__item4 {
    display: flex;
    justify-content: center; }
    .hotelesb__item4--b4 {
      font-family: "Yanone Kaffeesatz", sans-serif;
      font-size: 1.8em;
      text-align: center;
      width: 80%;
      height: 70px;
      background-color: #FFFFFF;
      padding: 15px; }
      @media screen and (max-width: 960px) {
        .hotelesb__item4--b4 {
          font-size: 1.5em;
          height: 50px;
          padding: 6px; } }
      @media screen and (max-width: 720px) {
        .hotelesb__item4--b4 {
          height: 60px;
          padding: 0px; } }
  .hotelesb__item5 {
    display: flex;
    justify-content: center; }
    .hotelesb__item5--b5 {
      font-family: "Yanone Kaffeesatz", sans-serif;
      font-size: 1.8em;
      text-align: center;
      width: 80%;
      height: 70px;
      background-color: #F4F4F4;
      padding: 15px; }
      @media screen and (max-width: 960px) {
        .hotelesb__item5--b5 {
          font-size: 1.5em;
          height: 60px; } }
      @media screen and (max-width: 540px) {
        .hotelesb__item5--b5 {
          height: 80px; } }
  .hotelesb__texto {
    display: flex;
    justify-content: center;
    margin-top: 40px; }
    .hotelesb__texto--p {
      width: 80%;
      font-family: "Raleway", sans-serif;
      font-size: 1.1em;
      text-align: center; }
      @media screen and (max-width: 720px) {
        .hotelesb__texto--p {
          font-size: 1em; } }

/* los mejores portales */
.portales {
  margin-top: 8.4em; }
  @media screen and (max-width: 720px) {
    .portales {
      margin-top: 5.4em; } }
  @media screen and (max-width: 540px) {
    .portales {
      margin-top: 6.4em; } }
  .portales__caja {
    display: flex;
    justify-content: center;
    gap: 20px; }
    @media screen and (max-width: 960px) {
      .portales__caja {
        display: flex;
        flex-direction: column-reverse;
        align-items: center; } }
  .portales__texto {
    width: 35%;
    font-family: "Raleway", sans-serif;
    font-size: 1.1em; }
    @media screen and (max-width: 960px) {
      .portales__texto {
        width: 60%;
        text-align: center; } }
    @media screen and (max-width: 720px) {
      .portales__texto {
        width: 80%;
        font-size: 1em; } }
  .portales__link {
    display: flex;
    flex-direction: column; }
  .portales__titulo--h2 {
    font-size: 3.6em;
    font-family: "Yanone Kaffeesatz", sans-serif; }
    @media screen and (max-width: 960px) {
      .portales__titulo--h2 {
        text-align: center; } }
    @media screen and (max-width: 720px) {
      .portales__titulo--h2 {
        font-size: 2.6em; } }
  .portales__lista--ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: center;
    padding: 0;
    margin-top: 20px; }
    .portales__lista--ul li {
      font-family: "Yanone Kaffeesatz", sans-serif;
      font-size: 1.5em;
      background-color: #EFD199;
      width: 150px;
      height: 80px;
      padding-top: 20px; }
      .portales__lista--ul li a {
        color: #6287A2; }
        .portales__lista--ul li a:hover {
          font-weight: 700; }

.textppal__textti {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center; }
  .textppal__textti--h1 {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 5em;
    color: #80C8BC; }
    @media screen and (max-width: 720px) {
      .textppal__textti--h1 {
        font-size: 3.6em;
        margin-top: 0px; } }
    @media screen and (max-width: 540px) {
      .textppal__textti--h1 {
        margin-top: 0px; } }
  .textppal__textti--p {
    font-size: 1.1em;
    color: #FFFFFF;
    width: 500px; }
    @media screen and (max-width: 720px) {
      .textppal__textti--p {
        width: 450px;
        font-size: 1em; } }
    @media screen and (max-width: 540px) {
      .textppal__textti--p {
        width: 400px; } }

/* seis consejos para conseguir tiquetes de avion baratos*/
.consejos {
  margin-top: 400px; }
  @media screen and (max-width: 960px) {
    .consejos {
      margin-top: 300px; } }
  .consejos__article {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .consejos__article--h2 {
      font-family: "Yanone Kaffeesatz", sans-serif;
      font-size: 3.6em;
      text-align: center; }
      @media screen and (max-width: 1000px) {
        .consejos__article--h2 {
          width: 80%; } }
      @media screen and (max-width: 960px) {
        .consejos__article--h2 {
          width: 80%; } }
      @media screen and (max-width: 720px) {
        .consejos__article--h2 {
          font-size: 2.6em; } }
  .consejos__box {
    display: flex;
    margin-top: 2em;
    width: 80%;
    gap: 20px; }
    @media screen and (max-width: 960px) {
      .consejos__box {
        display: flex;
        flex-direction: column;
        align-items: center; } }
  .consejos__text--h3 {
    font-family: "Yanone Kaffeesatz", sans-serif;
    color: #80C8BC;
    font-size: 2.6em; }
    @media screen and (max-width: 960px) {
      .consejos__text--h3 {
        text-align: center; } }
    @media screen and (max-width: 720px) {
      .consejos__text--h3 {
        font-size: 2em; } }
  .consejos__text--p {
    font-family: "Raleway", sans-serif;
    font-size: 1.1em; }
    @media screen and (max-width: 960px) {
      .consejos__text--p {
        text-align: center; } }
    @media screen and (max-width: 720px) {
      .consejos__text--p {
        font-size: 1em; } }
  @media screen and (max-width: 1320px) {
    .consejos__img--img {
      width: 500px;
      height: 500px;
      object-fit: cover; } }
  @media screen and (max-width: 1140px) {
    .consejos__img--img {
      width: 400px;
      height: 500px;
      object-fit: cover; } }
  @media screen and (max-width: 1000px) {
    .consejos__img--img {
      width: 300px;
      height: 500px;
      object-fit: cover; } }
  @media screen and (max-width: 960px) {
    .consejos__img--img {
      width: 100%;
      height: 300px;
      object-fit: cover; } }

/* cards */
.cards {
  display: flex;
  justify-content: center;
  margin-top: 8.4em; }
  @media screen and (max-width: 960px) {
    .cards {
      display: flex;
      flex-direction: column;
      align-items: center; } }
  .cards__box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 30px;
    width: 80%; }
    @media screen and (max-width: 960px) {
      .cards__box {
        grid-template-columns: repeat(1, 1fr); } }
  .cards__b1 {
    width: 90%;
    height: 400px;
    background-color: #80C8BC;
    padding: 50px; }
    @media screen and (max-width: 1320px) {
      .cards__b1 {
        height: 450px; } }
    @media screen and (max-width: 1244px) {
      .cards__b1 {
        height: 500px; } }
    @media screen and (max-width: 1140px) {
      .cards__b1 {
        height: 550px; } }
    @media screen and (max-width: 1000px) {
      .cards__b1 {
        height: 650px; } }
    @media screen and (max-width: 960px) {
      .cards__b1 {
        height: 350px; } }
    @media screen and (max-width: 720px) {
      .cards__b1 {
        height: 350px; } }
    @media screen and (max-width: 540px) {
      .cards__b1 {
        height: 550px; } }
    .cards__b1--h3 {
      font-family: "Yanone Kaffeesatz", sans-serif;
      font-size: 2.6em;
      color: #FFFFFF;
      padding-bottom: 50px; }
      @media screen and (max-width: 720px) {
        .cards__b1--h3 {
          font-size: 2em; } }
    .cards__b1--linea {
      border-top: 3px solid #FFFFFF;
      height: 2px;
      max-width: 100%;
      padding-bottom: 15px;
      margin: 0; }
    .cards__b1--p {
      font-family: "Raleway", sans-serif;
      font-family: 1.1em;
      color: #FFFFFF;
      font-weight: 400; }
  .cards__b2 {
    width: 90%;
    height: 400px;
    background-color: #80C8BC;
    padding: 50px; }
    @media screen and (max-width: 1320px) {
      .cards__b2 {
        height: 450px; } }
    @media screen and (max-width: 1244px) {
      .cards__b2 {
        height: 500px; } }
    @media screen and (max-width: 1140px) {
      .cards__b2 {
        height: 550px; } }
    @media screen and (max-width: 1000px) {
      .cards__b2 {
        height: 650px; } }
    @media screen and (max-width: 960px) {
      .cards__b2 {
        height: 350px; } }
    @media screen and (max-width: 720px) {
      .cards__b2 {
        height: 350px; } }
    @media screen and (max-width: 540px) {
      .cards__b2 {
        height: 550px; } }
    .cards__b2--h3 {
      font-family: "Yanone Kaffeesatz", sans-serif;
      font-size: 2.6em;
      color: #FFFFFF; }
      @media screen and (max-width: 720px) {
        .cards__b2--h3 {
          font-size: 2em; } }
    .cards__b2--linea {
      border-top: 3px solid #FFFFFF;
      height: 2px;
      max-width: 100%;
      padding-bottom: 15px;
      margin: 0; }
    .cards__b2--p {
      font-family: "Raleway", sans-serif;
      font-family: 1.1em;
      color: #FFFFFF;
      font-weight: 400; }
  .cards__b3 {
    width: 90%;
    height: 400px;
    background-color: #80C8BC;
    padding: 50px; }
    @media screen and (max-width: 1320px) {
      .cards__b3 {
        height: 450px; } }
    @media screen and (max-width: 1244px) {
      .cards__b3 {
        height: 500px; } }
    @media screen and (max-width: 1140px) {
      .cards__b3 {
        height: 550px; } }
    @media screen and (max-width: 1000px) {
      .cards__b3 {
        height: 650px; } }
    @media screen and (max-width: 960px) {
      .cards__b3 {
        height: 350px; } }
    @media screen and (max-width: 720px) {
      .cards__b3 {
        height: 350px; } }
    @media screen and (max-width: 540px) {
      .cards__b3 {
        height: 550px; } }
    .cards__b3--h3 {
      font-family: "Yanone Kaffeesatz", sans-serif;
      font-size: 2.6em;
      color: #FFFFFF;
      padding-bottom: 6px; }
      @media screen and (max-width: 720px) {
        .cards__b3--h3 {
          font-size: 2em; } }
    .cards__b3--linea {
      border-top: 3px solid #FFFFFF;
      height: 2px;
      max-width: 100%;
      padding-bottom: 15px;
      margin: 0; }
    .cards__b3--p {
      font-family: "Raleway", sans-serif;
      font-family: 1.1em;
      color: #FFFFFF;
      font-weight: 400; }
  .cards__b4 {
    width: 90%;
    height: 400px;
    background-color: #80C8BC;
    padding: 50px; }
    @media screen and (max-width: 1320px) {
      .cards__b4 {
        height: 450px; } }
    @media screen and (max-width: 1244px) {
      .cards__b4 {
        height: 500px; } }
    @media screen and (max-width: 1140px) {
      .cards__b4 {
        height: 550px; } }
    @media screen and (max-width: 1000px) {
      .cards__b4 {
        height: 650px; } }
    @media screen and (max-width: 960px) {
      .cards__b4 {
        height: 350px; } }
    @media screen and (max-width: 720px) {
      .cards__b4 {
        height: 350px; } }
    @media screen and (max-width: 540px) {
      .cards__b4 {
        height: 550px; } }
    .cards__b4--h3 {
      font-family: "Yanone Kaffeesatz", sans-serif;
      font-size: 2.6em;
      color: #FFFFFF; }
      @media screen and (max-width: 720px) {
        .cards__b4--h3 {
          font-size: 2em; } }
    .cards__b4--linea {
      border-top: 3px solid #FFFFFF;
      height: 2px;
      max-width: 100%;
      padding-bottom: 15px;
      margin: 0; }
    .cards__b4--p {
      font-family: "Raleway", sans-serif;
      font-family: 1.1em;
      color: #FFFFFF;
      font-weight: 400; }
  .cards__b5 {
    width: 90%;
    height: 400px;
    background-color: #80C8BC;
    padding: 50px; }
    @media screen and (max-width: 1320px) {
      .cards__b5 {
        height: 450px; } }
    @media screen and (max-width: 1244px) {
      .cards__b5 {
        height: 500px; } }
    @media screen and (max-width: 1140px) {
      .cards__b5 {
        height: 550px; } }
    @media screen and (max-width: 1000px) {
      .cards__b5 {
        height: 650px; } }
    @media screen and (max-width: 960px) {
      .cards__b5 {
        height: 350px; } }
    @media screen and (max-width: 720px) {
      .cards__b5 {
        height: 350px; } }
    @media screen and (max-width: 540px) {
      .cards__b5 {
        height: 550px; } }
    .cards__b5--h3 {
      font-family: "Yanone Kaffeesatz", sans-serif;
      font-size: 2.6em;
      color: #FFFFFF; }
      @media screen and (max-width: 720px) {
        .cards__b5--h3 {
          font-size: 2em; } }
    .cards__b5--linea {
      border-top: 3px solid #FFFFFF;
      height: 2px;
      max-width: 100%;
      padding-bottom: 15px;
      margin: 0; }
    .cards__b5--p {
      font-family: "Raleway", sans-serif;
      font-family: 1.1em;
      color: #FFFFFF;
      font-weight: 400; }
  .cards__b6 {
    width: 90%;
    height: 400px;
    background-color: #80C8BC;
    padding: 50px; }
    @media screen and (max-width: 1320px) {
      .cards__b6 {
        height: 450px; } }
    @media screen and (max-width: 1244px) {
      .cards__b6 {
        height: 500px; } }
    @media screen and (max-width: 1140px) {
      .cards__b6 {
        height: 550px; } }
    @media screen and (max-width: 1000px) {
      .cards__b6 {
        height: 650px; } }
    @media screen and (max-width: 960px) {
      .cards__b6 {
        height: 350px; } }
    @media screen and (max-width: 720px) {
      .cards__b6 {
        height: 350px; } }
    @media screen and (max-width: 540px) {
      .cards__b6 {
        height: 550px; } }
    .cards__b6--h3 {
      font-family: "Yanone Kaffeesatz", sans-serif;
      font-size: 2.6em;
      color: #FFFFFF;
      padding-bottom: 50px; }
      @media screen and (max-width: 720px) {
        .cards__b6--h3 {
          font-size: 2em; } }
    .cards__b6--linea {
      border-top: 3px solid #FFFFFF;
      height: 2px;
      max-width: 100%;
      padding-bottom: 15px;
      margin: 0; }
    .cards__b6--p {
      font-family: "Raleway", sans-serif;
      font-family: 1.1em;
      color: #FFFFFF;
      font-weight: 400; }

.textppal__textp {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center; }
  .textppal__textp--h1 {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 5em;
    color: #80C8BC;
    width: 900px;
    line-height: 70px; }
    @media screen and (max-width: 720px) {
      .textppal__textp--h1 {
        font-size: 3.6em;
        margin-top: -30px;
        width: 600px;
        line-height: 55px; } }
    @media screen and (max-width: 540px) {
      .textppal__textp--h1 {
        margin-top: -45px;
        width: 400px; } }
  .textppal__textp--p {
    font-size: 1.1em;
    color: #FFFFFF;
    width: 900px;
    margin-top: 20px; }
    @media screen and (max-width: 720px) {
      .textppal__textp--p {
        width: 650px;
        font-size: 1em; } }
    @media screen and (max-width: 540px) {
      .textppal__textp--p {
        width: 450px; } }

/* aerolineas */
.promos {
  margin-top: 260px; }
  @media screen and (max-width: 1880px) {
    .promos {
      margin-top: 500px; } }
  @media screen and (max-width: 1320px) {
    .promos {
      margin-top: 400px; } }
  @media screen and (max-width: 1244px) {
    .promos {
      margin-top: 400px; } }
  @media screen and (max-width: 1140px) {
    .promos {
      margin-top: 400px; } }
  @media screen and (max-width: 1000px) {
    .promos {
      margin-top: 400px; } }
  @media screen and (max-width: 960px) {
    .promos {
      margin-top: 350px; } }
  @media screen and (max-width: 720px) {
    .promos {
      margin-top: 200px; } }
  .promos__box {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .promos__b1 {
    display: flex;
    width: 80%;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px; }
    @media screen and (max-width: 720px) {
      .promos__b1 {
        display: flex;
        flex-direction: column;
        align-items: center; } }
    .promos__b1--img {
      background-color: #5EC0CA; }
    .promos__b1--h2 {
      font-family: "Yanone Kaffeesatz", sans-serif;
      font-size: 3em; }
      @media screen and (max-width: 720px) {
        .promos__b1--h2 {
          text-align: center;
          font-size: 2.2em; } }
      .promos__b1--h2 a {
        color: #1D1D1D; }
        .promos__b1--h2 a:hover {
          color: #5EC0CA; }
    .promos__b1--p {
      font-size: 1.1em;
      width: 80%; }
      @media screen and (max-width: 720px) {
        .promos__b1--p {
          text-align: center;
          margin-left: 10%;
          margin-right: 10%;
          font-size: 1em; } }
  .promos__b2 {
    display: flex;
    width: 80%;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px; }
    @media screen and (max-width: 720px) {
      .promos__b2 {
        display: flex;
        flex-direction: column;
        align-items: center; } }
    .promos__b2--img {
      background-color: #5EC0CA; }
    .promos__b2--h2 {
      font-family: "Yanone Kaffeesatz", sans-serif;
      font-size: 3em; }
      @media screen and (max-width: 720px) {
        .promos__b2--h2 {
          text-align: center;
          font-size: 2.2em; } }
      .promos__b2--h2 a {
        color: #1D1D1D; }
        .promos__b2--h2 a:hover {
          color: #5EC0CA; }
    .promos__b2--p {
      font-size: 1.1em;
      width: 80%; }
      @media screen and (max-width: 720px) {
        .promos__b2--p {
          text-align: center;
          margin-left: 10%;
          margin-right: 10%;
          font-size: 1em; } }
  .promos__b3 {
    display: flex;
    width: 80%;
    align-items: center;
    gap: 30px; }
    @media screen and (max-width: 720px) {
      .promos__b3 {
        display: flex;
        flex-direction: column;
        align-items: center; } }
    .promos__b3--img {
      background-color: #5EC0CA; }
    .promos__b3--h2 {
      font-family: "Yanone Kaffeesatz", sans-serif;
      font-size: 3em; }
      @media screen and (max-width: 720px) {
        .promos__b3--h2 {
          text-align: center;
          font-size: 2.2em; } }
      .promos__b3--h2 a {
        color: #1D1D1D; }
        .promos__b3--h2 a:hover {
          color: #5EC0CA; }
    .promos__b3--p {
      font-size: 1.1em;
      width: 80%; }
      @media screen and (max-width: 720px) {
        .promos__b3--p {
          text-align: center;
          margin-left: 10%;
          margin-right: 10%;
          font-size: 1em; } }

.textppal__textc {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center; }
  .textppal__textc--h1 {
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-size: 5em;
    color: #6287A2;
    width: 300px; }
    @media screen and (max-width: 720px) {
      .textppal__textc--h1 {
        font-size: 3.6em;
        margin-top: -30px; } }
    @media screen and (max-width: 540px) {
      .textppal__textc--h1 {
        margin-top: -45px; } }

/* formulario */
.form {
  display: flex;
  justify-content: center;
  margin-top: 100px; }
  .form__box {
    display: flex;
    justify-content: center;
    width: 80%; }
    @media screen and (max-width: 1140px) {
      .form__box {
        display: flex;
        flex-direction: column;
        align-items: center; } }
  .form__form {
    width: 40%;
    background-color: #6287A2;
    padding: 50px; }
    @media screen and (max-width: 1140px) {
      .form__form {
        width: 630px; } }
    @media screen and (max-width: 540px) {
      .form__form {
        width: 100%; } }
    .form__form--p {
      color: #FFFFFF;
      font-size: 1.1em;
      margin-bottom: 40px; }
  @media screen and (max-width: 1140px) {
    .form__img--img {
      display: none; } }
  .form textarea:focus,
  .form input:focus,
  .form input[type]:focus {
    border-color: #80C8BC;
    box-shadow: 0 1px 1px #80C8BC inset, 0 0 8px #80C8BC;
    outline: 0 none; }
  .form .form-control {
    border-radius: 0px; }
  .form .btn {
    margin-top: 40px;
    border-radius: 0px;
    border: 1px solid #FFFFFF;
    color: #FFFFFF; }
    .form .btn:hover {
      background-color: #FFFFFF;
      color: #6287A2; }
