@import "header";
@import "footer";
@import "./views/index";
@import "mediaindex";
@import "./views/promo";
@import "mediapromos";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #424242;
}

img {
    width: 100%;
}



