* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #424242;
}

img {
    width: 100%;
}

/*-----PÁGINA INDEX----*/
.background {
    background-color: #f4f4f4;
}

.header__img {
    height: 100px;
    width: auto;
}

.text {
    font-size: 24px;
    font-weight: 700;
}

.menu__link:hover {
    color: #189ED3;
}

.box {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 50px;
}

.box__img img {
    display: flex;
    width: 650px;
    height: 550px;
    object-fit: cover;

}

.box__info {
    display: flex;
    flex-direction: column;
    width: 40%;
    flex-wrap: wrap;
}

.box__h1 {
    font-size: 28px;
    font-weight: 700;
}

.box__p {
    padding-top: 20px;
    font-size: 20px;
}

.box__pdos {
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 22px;
    font-weight: 700;
}

.box__boton {
    width: 150px;
    text-align: center;
    background-color: #189ED3;
    border-radius: 100px;
    padding: 10px;
    color: #FFFFFF;
    font-size: 18px;
}

.box__boton:hover {
    font-weight: 700;
    background-color: #106e94;
    color: #FFFFFF;
}

.dos {
    background-color: #f4f4f4;
    height: 300px;
}

.boxdos__h2 {
    font-weight: 700;
    font-size: 24px;

}

.width {
    width: 80%;
    margin-left: 10%;
    margin-right: auto;
}


.boxtres {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    height: 600px;
    padding-top: 50px;

}

.boxtres__img img {
    margin-top: 70px;
    width: 355px;
    height: 405px;

}

.boxtres__info {
    width: 30%;
}

.boxtres__h2 {
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: 700;

}

.boxtres__p {
    font-size: 18px;
    padding-bottom: 40px;
}

.boxtres__boton {
    background-color: #189ED3;
    border-radius: 100px;
    padding: 10px;
    color: #FFFFFF;
}

.boxtres__boton:hover {
    background-color: #106e94;
    font-weight: 700;
}

.boxcuarto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 250px;
    background-color: #f4f4f4;

}

.boxcuarto__info {
    width: 70%;
    text-align: center;

}

.boxcuarto__h2 {
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
}

.boxcuarto__p {
    font-size: 18px;
    padding-bottom: 20px;
}

.boxcuarto__link {
    color: #189ED3;
    font-weight: 500;
    font-size: 20px;
}

.boxcuarto__link:hover {
    color: #106e94;
    font-weight: 800;
}

.boxcardstex {
    margin-top: 50px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}


.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #424242;
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.footer__logo {
    justify-content: flex-end;
}

.footer__info {
    color: #FFFFFF;
    width: 25%;
    justify-content: flex-start;
    padding-top: 20px;

}

.footer__info h3 {
    color: #FFFFFF;


}

.footer__info p {
    font-weight: 300;
    font-size: 16px;
}

.footer__contacto {
    color: #f4f4f4;

}

.footer__lista {
    padding: 0;
}

.footer__contacto h3 {
    padding-top: 20px;
}

.footer__rs h3 {
    color: #FFFFFF;
    padding-top: 20px;

}

.footer__listars {
    display: flex;
    width: 200px;
    gap: 2rem;
    margin-right: 5%;
    padding: 0;

}

@media screen and (max-width: 879px) {

    .dos {
        height: 320px;
    }

    .boxtres__boton {
        padding-top: none;
    }

    .boxtres__p {
        font-size: 17px;
        padding-bottom: 20px;
    }

    .boxtres__info {
        width: 50%;
    }


}

@media screen and (max-width: 575px) {

    .img {
        text-align: center;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
        padding-left: 0;
    }

    .box__img img {
        width: 100%;

    }

    .box__info {
        width: 80%;
        align-items: center;
    }

    .box__h1 {
        text-align: center;
    }

    .box__p {
        text-align: center;
    }

    .dos {
        height: 450px;
    }


    .cel {
        text-align: center;
        margin-top: 20px;
    }

    .boxtres {
        padding-top: 5px;
    }

    .boxtres__info {
        display: flex;
        width: 85%;
        text-align: center;
        flex-direction: column;

    }

    .boxtres__boton {

        margin-left: 30%;
        margin-right: 30%;

    }

    .boxcuarto {
        height: 350px;
        margin-top: 400px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__info {
        width: 40%;
        text-align: center;
    }

    .footer__contacto {
        text-align: center;
    }

    .footer__rs {
        text-align: center;
    }

}

@media screen and (max-width: 480px) {

    .dos {
        height: 450px;
    }

    .boxtres {
        padding-top: 10px;
    }

    .boxcuarto {
        height: 450px;
        margin-top: 480px;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__info {
        width: 40%;
        text-align: center;
    }

    .footer__contacto {
        text-align: center;
    }

    .footer__rs {
        text-align: center;
    }

}

/*--------------------------------------------- SECCIÓN PROMOS-----------------------------------------*/

.promosbox {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 50px;
}

.promosbox__img img {
    width: 90%;
    height: 500px;
    object-fit: cover;


}

.promosbox__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 40%;


}

.promosbox__info h1 {
    color: #189ED3;
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 20px;

}

.promosbox__info p {
    font-size: 20px;

}



.promosboxdos__info h2 {
    color: #189ED3;
    padding-bottom: 10px;
}

.promosboxdos__info h2:hover {
    color: #106e94;
}

@media screen and (max-width: 879px) {

    .promosbox {

        justify-content: center;
    }

    .promosbox__img img {
        width: 100%;

    }

    .promosbox__info {
        width: 80%;

    }



    .promosboxdos__img img {
        width: 100%;
    }


}

@media screen and (max-width: 575px) {
    .img {
        text-align: center;
    }

    .menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
        padding-left: 0;
    }

    .promosbox__img img {
        width: 100%;

    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__info {
        width: 40%;
        text-align: center;
    }

    .footer__contacto {
        text-align: center;
    }

    .footer__rs {
        text-align: center;
    }

}

@media screen and (max-width: 480px) {

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__info {
        width: 40%;
        text-align: center;
    }

    .footer__contacto {
        text-align: center;
    }

    .footer__rs {
        text-align: center;
    }


}