// estilos footer
.footer {
  display: flex;
  flex-direction: column;
  margin-top: 8.4em;
  background-color: $text-color;

  &__box {
    height: 351px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: $blanco;

    @media screen and (max-width:$md) {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 850px;
    }
    
    &--fbox1 {
      width: 20%;
      text-align: center;
      @media screen and (max-width:$md) {
        width: 80%;
      }

      @media screen and (max-width:$sm) {
        margin-top: 25px;
      }

       picture{

        img{ 
          @media  screen and (max-width:$xl) {

            width: 234px;
            height: 95px;
                      
          }
          @media screen and (max-width:$lg) {
            width: 214px;
            height: 75px;
          }
          @media screen and (max-width:$md) {
            width: 264px;
            height: 125px;
          }
        }
        
      }

      p {
        padding: 10px;
        font-size: $text-body;
      }
    }

    &--fbox2 {
      h3 {
        font-family: $font-titulo;
        font-size: $text-h4;
        @media screen and (max-width:$md) {
          text-align: center;
        }
      }
      ul {
        padding-left: 0px;
        padding-top: 17px;
        @media screen and (max-width:$md) {
          text-align: center;
          padding-top: 0px;
        }
        li {
          list-style-type: none;

          a {
            color: $blanco;
            font-size: $text-body;

            &:hover {
              color: $tercero;
              text-decoration: underline;
            }
          }
        }
      }
    }

    &--fbox3 {
      h3 {
        font-family: $font-titulo;
        font-size: $text-h4;
        @media screen and (max-width:$md) {
          text-align: center;
        }
      }
      ul {
        padding-left: 0px;
        padding-top: 17px;

        @media screen and (max-width:$md) {
          text-align: center;
          padding-top: 0px;
        }
        li {
          list-style-type: none;
          padding: 1px;

          a {
            color: $blanco;
            font-size: $text-body;
          }
        }
      }
    }

    &--fbox4 {
      h3 {
        font-family: $font-titulo;
        font-size: $text-h4;
        margin-top: -55px;
        padding-bottom: 20px;
        @media screen and (max-width:$md) {
          text-align: center;
          margin-top: 10px;
        }
      }
      picture {
        padding-right: 10px;
        @media screen and (max-width:$md) {
          padding-right: 0px;
          padding: 5px;
        }
      }
    }
  }

  &__copy {
    height: 80px;
    background-color: $primero;
    text-align: center;
    &--h4 {
      padding-top: 27px;
      color: $blanco;
      font-family: $font-titulo;
      font-size: 1.5em;
    }
  }
}
