// estilos index


.textppal__texti {

  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;




  &--h1 {
    font-family: $font-titulo;
    font-size: $text-h1;
    color: $primero;
    @media screen and (max-width:$md) {
      font-size: $text-h2;
      margin-top: -30px;
    }
    @media screen and (max-width:$sm) {
      margin-top: -45px;
    }
  }

  &--p {
    font-size: $text-body;
    color: $blanco;
    width: 800px;
    @media screen and (max-width:$md) {
      width: 650px;
      font-size: 1em;
    }
    @media screen and (max-width:$sm) {
      width: 450px;
      
    }
  }
}


.btn {
  border-radius: 0px;
  color: $primero;
  font-family: $font-titulo;
  font-size: $text-btn;
  border: 1px solid$primero;
  margin-top: 15px;
}

.btn:hover {
  background-color: $primero;
  color: $blanco;
  border: solid$primero;
}


.galeria__box {
  display: flex;
  justify-content: center;
  margin-top: 172px;

  @media screen and (max-width:$md) {
    display: none;
  }

  &--img1 {
    @media screen and (max-width:$lg) {
      display: none;
    }
  }

}

/* por qué visitar colombia */


.visit {
  margin-top: 8.4em;
  @media screen and (max-width:$md) {
    margin-top: 13em;
  }

  &__article {
    display: flex;
    justify-content: center;
   
  }

  &__box {
    width: 80%;
    height: 600px;

    &--h2 {
      margin-bottom: 50px;
      text-align: center;
      font-family: $font-titulo;
      font-size: $text-h2;
      @media screen and (max-width:$md) {
        font-size: $text-h3;
      }
    }

    
    @media screen and (max-width:$xl) {
      width: 90%;
      height: 310px;
    }

    @media screen and (max-width:$lg) {
      height: 400px;
    }
    @media screen and (max-width:$md) {
      height: 530px;
    }
  }

  &__box1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 20px;
    @media screen and (max-width:$md) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &--img {
      @media screen and (max-width:$xl) {
        height: 450px;
      }

      @media screen and (max-width:$lg) {
        width: 47.5%;
        height: 535px;
        object-fit: cover;
      }
      @media screen and (max-width:$md) {
        width: 90%;
        height: 400px;
        object-fit: cover;
      }

    }
  }

  &__text {
    &--h3 {
      @include sliderh3;
    }

    &--p {
      @include sliderp;
    }
  }

}

/* servios */

.servicios {
  margin-top: 11em;

  @media screen and (max-width:$extra) {
    margin-top: 20em;
  }
  @media screen and (max-width:$xl) {
    margin-top: 25em;
  }

  &__article {
    display: flex;
    justify-content: center;

  }

  &__caja {
    display: flex;
    justify-content: center;
    width: 80%;

    @media screen and (max-width:$xl) {
      width: 90%;
    }

    @media screen and (max-width:$lg) {
      display: flex;
      justify-content: center;
      width: 95%;
    }

    @media screen and (max-width:$md) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }


    &--box1 {
      width: 26.6%;
      background-color: $segundo;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 30px;
      

      @media screen and (max-width:$lg) {
        width: 31.6%;
      }
      @media screen and (max-width:$md) {
        width: 80%;
      }

      h2 {
        @include boxh2;
      }

      p {
        @include boxp;
      }
    }

    &--box2 {
      width: 26.6%;
      background-color: $tercero;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 30px;

      @media screen and (max-width:$lg) {
        width: 31.6%;
      }
      @media screen and (max-width:$md) {
        width: 80%;
      }

      h2 {
        @include boxh2;
      }

      p {
        @include boxp;
      }
    }

    &--box3 {
      width: 26.6%;
      background-color: $cuarto;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 30px;

      @media screen and (max-width:$lg) {
        width: 31.6%;
      }
      @media screen and (max-width:$md) {
        width: 80%;
      }

      h2 {
        @include boxh2;
      }

      p {
        @include boxp;
      }
    }
  }
}