
/* header */

@mixin nav {
  position: relative;
  color: $blanco;
  text-decoration: none;
}

/* slider index */  

@mixin sliderh3 {
  font-family: $font-titulo;
  font-size: $text-h3;
  color: $primero;
  @media screen and (max-width:$md) {
    text-align: center;
    font-size: $text-h4;
  }
  
}

@mixin sliderp {
  font-family: $font-texto;
  font-size: $text-body;
  margin-top: 20px;
  @media screen and (max-width:$md) {
    text-align: center;
    font-size: 1em;
  }
}

/* servicios index */

@mixin boxh2 {
  font-family: $font-titulo;
  font-size: $text-h2;
  @media screen and (max-width:$md) {
    font-size: $text-h3;
  }
}

@mixin boxp {
  font-size: $text-body;

}

/* card tiquetes */

@mixin cards {
  width:90%;
  height: 400px;
  background-color: $tercero;
  padding: 50px;

  @media screen and (max-width:$xxl) {
    height: 450px;
  } 

  @media screen and (max-width:$extra) {
    height: 500px;
  } 

  @media screen and (max-width:$xl) {
    height: 550px;
  } 

  @media screen and (max-width:$extramd) {
    height: 650px;
  } 

  @media screen and (max-width:$lg) {
    height: 350px;
    
  }

  @media screen and (max-width:$md) {
    height: 350px;
    
  }

  @media screen and (max-width:$sm) {
    height: 550px;
    
  }

  
}

@mixin cardsh3 {
  font-family: $font-titulo;
  font-size: $text-h3;
  color: $blanco;
  @media screen and (max-width:$md) {
    font-size: $text-h4;
  }
}

@mixin cardslinea{
  border-top: 3px solid$blanco;
  height: 2px;
  max-width: 100%;
  padding-bottom: 15px;
  margin: 0;
}

@mixin cardsp {
  font-family: $font-texto;
  font-family: $text-body;
  color: $blanco;
  font-weight: 400;
}

