/*Colores*/
$primary: #189ed3;
$secundario: #424242;
$bg: #f4f4f4;
$text-color:#000000;
$text-hover:#106e94;

/*font-family*/
$font-principal: font-family: 'Raleway', sans-serif;

/*font-size*/
$text-title:28px;
$text-ppal:18px;
$text-subtitle:24px;
