/*Colores primarios*/
$primero:#CE8F5A;
$segundo:#EFD199;
$tercero:#80C8BC;
$cuarto:#5EC0CA;
$quinto:#6287A2;

/* Colores neutral */
$text-color:#1D1D1D;
$blanco:#FFFFFF;
$background:#F4F4F4;

/*font-family*/
$font-texto: 'Raleway', sans-serif;
$font-titulo: 'Yanone Kaffeesatz', sans-serif;

/*font-size*/
$text-body: 1.1em;
$text-h1: 5em;
$text-h2: 3.6em;
$text-h3: 2.6em;
$text-h4: 2em;
$text-btn: 1.5em;

/* margenes del sitio */
$margin-left: 10.6em;
$margin-right: 10.6em;

/* media queries */

$sm: 540px;
$md: 720px;
$lg: 960px;
$xl: 1140px;
$xxl: 1320px;
$xxxl:1880px;

